label h3, label p {
  display: inline-block;
  padding-right: 10px;
}

input[type=radio] {
  height: 2em;
  width: 2em;
}

.chosen {
  z-index: 15;
}

.field {
  padding: 10px 10px;
  margin-top: 20px;
}

.submit {
  text-align: center;
  margin: 0 auto;
}

.field-odd {
  background-color: #eee;
}

.field-even {
  background-color: #ddd;
}
