body {
  background-color: rgba(215, 212, 212, 0.2);
}

.title {
  padding-left: 10%;
}

footer {
  text-align: center;
  background-color: #444;
  height: 250px;
}

footer a {
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
}

footer a:hover {
  color: #000;
  text-decoration: none;
}

.social-media {
  padding: 10px 10px;
  margin-top: 30px;
  margin-bottom: 12px;
  width: 80px;
  height: 80px;
}

.search {
  width: 50%;
  margin: 0 auto;
}

#mainSearch {
  margin-top: 10px;
}

.pac-container {
  z-index: 12 !important;
}

#mainSearchDiv {
  text-align: center;
}

#searchMain {
  width: 100%;
  margin: 0 !important;
}

.inline-form .inline-control {
  margin: 0 !important;
}

#searchCol, #searchBtnCol {
  padding: 0 0;
}

#searchBtnCol {
  text-align: left;
}

.contact-form  {
  margin-bottom: 50px;
}

.map-container, #map {
  height: 600px;
  width: 100%;
}

.panel {
  margin-top: 25px;
}

.panel-heading {
  background-color: #ddd;
}

.main-content {
  padding-top: 30px;
}

.btn-default {
  padding: 20px 10px;
  font-size: 24px;
  border: none;
}

.btn-primary {
  padding: 20px 10px;
  background-color: red;
  font-size: 24px;
  border: none;
}

.btn-primary:hover {
  background-color: darkred;
}

.btn-primary:active {
  background-color: pink;
}

.upload-button {
  position: fixed;
  bottom: 10%;
  right: 10%;
  font-size: 2em;
}

.upload-button .add-button {
  font-size: 2em;
  border-radius: 100%;
}

.add-button-group div {
  position: relative;
  right: 0px;
}

.trip-alert {
  font-size: 1.5em;
  margin: 30px;
}

.message-form {
  width: 100%;
}

.message-form textarea {
  width: 70%;
}

.trip-item {
  padding: 10px;
  margin-bottom: 20px;
}

.trip-item h2 {
  margin: 0;
}

.odd {
  background-color: #eee;
}

.even {
  background-color: #ddd;
}
