.navbar {
  height: 140px;
  padding-top: 20px;
  border-bottom: 2px solid #a19da0;
  min-width: 1000px;
  margin-bottom: 0px;
  background-color: rgb(0, 116, 52);
}

.btn-nav, .btn-nav:visited {
  background-color: rgba(0,0,0,0);
  color: #fff;
  font-size: 2em;
}

.btn-nav:hover, .btn-nav:active, .btn-nav:focus, .btn-nav:focus:active {
  background-color: #00b050;
  color: white;
}

.button-nav {
  padding-left: 0;
  padding-right: 0;
  z-index: 10;
}

.button-nav .btn-group .btn {
    color: #ff0000;
}

.button-nav .btn-group ul {
  width: 100%;
  margin-top: -1px;
}

.affix {
  top: 0px;
}

.buttons {
  margin-top: 10px;
}

.profile-button {
  color: #ff0000;
  border: none;
  background-color: #fff;
}

.profile-button .glyphicon {
  margin-right: 5px;
}

.profile-button a:visited {
  color: #ff0000;
}

.glyphicon-user {
  margin-right: 10px;
}
